.card-set {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex-basis: calc(100% / 3 - 30px);
	margin-left: -30px;
	margin-bottom: -30px;
}

.card {
	margin-left: 30px;
	margin-bottom: 30px;

	background: #FFFFFF;
	border: 1px solid #EEEEEE;

	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay {
	position: relative;
	overflow: hidden;
}

.card-text {
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(+100%);

	opacity: 0.5;

	width: 100%;
	height: 100%;
	padding: 63px 24px;

	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;

	color: #FFFFFF;
	background: $accent-color;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.card:hover .card-text {
	opacity: 1;
	transform: translateY(0);
}

.card:hover .overlay {
	transform: translateY(0);
}


.card-description {
	padding: 20px 24px;
}

.card-title {
	margin-bottom: 8px;

	color: $title-text-color;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.category {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.03em;
}