.footer {
	color: $white-color;
	background: rgba(47, 48, 58, 1);
	padding-top: 60px;
	padding-bottom: 60px;
}

.column1,
.column2,
.column3 {
	text-align: center;
}

@media screen and (min-width:320px) and (max-width:768px) {
	.subscription input {
		width: 100%;
	}

	.subscription .btn {
		margin-top: 20px;
	}

	.container .footer-item+.footer-item {
		margin-top: 60px;
	}

}

@media screen and (min-width:768px)and (max-width:1200px) {
	.footer .container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	.column1 {
		width: 50%;
	}

	.column2 {
		width: 50%;
	}

	.column3 {
		margin-top: 20px;
		width: 50%;
	}

	.subscription .btn {
		margin-top: 20px;
	}

}

@media screen and (min-width:1200px) {
	.footer .container {
		display: flex;
		justify-content: space-around;
	}

	.subscription input {
		display: block;
		width: 358px;
		margin-right: 10px;
	}

	.subscription {
		display: flex;
	}


	.column3,
	.column2 {
		text-align: start;
	}
}

.logo-footer {
	display: block;
	margin-bottom: 20px;

	color: $white-color;
}

.address {
	display: block;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.address:not(:first-child) {
	color: rgba(255, 255, 255, 0.6);
}

.address:not(:last-child) {
	margin-bottom: 9px;
}

.address:hover,
.adress:focus {
	color: $accent-color;
}

.footer-title {
	margin-bottom: 20px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

.column2 .social-link-item {
	background: rgba(255, 255, 255, 0.1);
}

.column2 .social-link-item:hover {
	background: $accent-color;
}

.footer .social-link-icon {
	fill: rgb(255, 255, 255);

}

.subscription .btn {
	display: flex;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 28px;
	text-shadow: none;
}

.subscription input {
	padding: 15px;

	background: transparent;

	border: 1px solid rgba(255, 255, 255, 0.3);

	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}

.icon-send {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	fill: rgb(255, 255, 255);
}