*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background: $background-color;
	background-color: aqua;
	color: $primary-text-color;
	font-family: Roboto, sans-serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0;
	padding: 0;
}





img {
	display: block;
}

.container {
	// width: 1230px;
	padding-left: 15px;
	padding-right: 15px;
	margin-right: auto;
	margin-left: auto;

}
@media screen and (min-width: 1200px){
	.section {
	padding-top: 94px;
	padding-bottom: 94px;
	}

}
// .section {
// 	padding-top: 94px;
// 	padding-bottom: 94px;
// }

.title {
	margin-bottom: 50px;
	color: $title-text-color;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-align: center;
}